<html>
  <head>
    <title>Dockulator</title>
    <link href="static/css/normalize.css" rel="stylesheet" type="text/css">
    <link href="static/css/foundation.min.css" rel="stylesheet" type="text/css">
    <link href="static/css/custom.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <h1><a href="http://dockulator.com">Dockulator</a></h1>
    <p>When you enter a calculation in the box (such as <code>1 + 4</code>, 
    <code>23.33 / 14.12</code> or <code>-1000.0002 / 121.33</code>) it gets
    added to a queue.  When a calculation is added to the queue it is picked up
    by a service watching the queue. The calculation is then assigned a random
    operating system and programming language. With the help of Docker, it
    figures out how and where to compute the given calculation. The calculation
    is added back to a completed list of calculations and that is what you see
    below.</p>
    {{template "content" .}} 
    <div class="row">
      <div class="large-10 small-centered large-centered columns">
    {{template "table" .}}
      </div>
    </div>
    <script type="text/javascript" src="static/jquery.js"></script>
    <script type="text/javascript" src="static/app.js"></script>
  </body>
</html>
