{{define "content"}}
<div class="panel panel-primary">
  <div class="panel-heading">Enter a new calculation</div>
  <form id="new-calculation" action="/calculations" method="POST">
    <a name="box"></a>
    <input type="text" name="calculation" id="input-calculation" placeholder="Enter a calculation like 1 * 3" />
    <input class="btn pull-right" type="submit" value="calculate" id="submit-calc" />
  </form>
</div>
{{end}}

{{define "table"}}
<table class="table" description="Some of the most recent calculations performed">
  <caption>Recent Calculations</caption> 
  <thead> 
    <tr> 
      <th scope="col">Calculation</th> 
      <th scope="col">Answer</th> 
      <th scope="col">OS</th> 
      <th scope="col">Language</th> 
    </tr> 
  </thead> 
  <tbody id="calcbody"> 
    {{range .}}
    <tr id="id-{{.Id.Hex}}">
      <td>{{.Calculation}}</td>
      <td>{{.Answer}}</td>
      <td>{{.OS}}</td>
      <td class="{{.Language}}">{{lang .Language }}</td>
    </tr>
    {{end}}
  </tbody> 
</table> 
{{end}}
